<table class="table">
    <tbody>
        <tr>
            <td>Тип смесителя</td>
            <td>{{ product.mixer_type }}</td>
        </tr>
        <tr>
            <td>Тип управления</td>
            <td>{{ product.control_type }}</td>
        </tr>
        <tr>
            <td>Цвет</td>
            <td>{{ product.color }}</td>
        </tr>
        <tr>
            <td>Материал</td>
            <td>{{ product.material }}</td>
        </tr>
        <tr>
            <td>Монтаж</td>
            <td>{{ product.mounting }}</td>
        </tr>
    </tbody>
</table>